<div class="main-container">
    <div class="containerALL">
        <div class="sidenav">
            <img src="assets/iconos/logo-uccuyosj.png" alt="">
            <div class="login-main-text">
               <h2>Rectorado<br> Login</h2>
               <p>Ingresa desde aquí.</p>
            </div>
            <div class="btnlow">
               <button routerLink="" class="btn btn-black">Volver</button>
            </div>
        </div>
         <div class="main01">
            <div class="col-sm-12">
               <div class="container">
                  <mat-form-field appearance="fill">
                     <mat-label>Usuario</mat-label>
                     <input matInput>
                   </mat-form-field>

               </div>
            </div>
         </div>
     </div>
</div>

